body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    height: 100vh;
   

   /* background: linear-gradient(90deg, rgba(106, 190, 224, 0.843) 0%, #312bd7d7 46%, rgba(114, 37, 186, 0.843) 100%), url("https://neemans.com/cdn/shop/files/Why_neemans_banner_2_1_1920x800.jpg?v=1689873004"); */
   /* background-size: cover; */
   background-image: linear-gradient(135deg, #0000ff 0%, #ffffff 100%)}

.container {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 20px;
    margin-left: 6%;
}
.box {
    background-color: inherit;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 200px;
    text-align: center;
    transition: transform 0.3s;
    margin-left: 2%;
}
.box:hover {
    transform: scale(1.05);
}
.box img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}
.box h3 {
    margin: 10px 0;
    font-size: 18px;
}
.box p {
    font-size: 14px;
    color: #555;
}

.aboutus {
    text-align: center;
    /* margin-bottom: 40%; */
    /* margin-left: 30%; */
    display: block;
    border: 2px dashed black dashed ;
    border-radius: 20px;
    margin-top: 3%;
  
    margin-bottom: 5%;
    margin-left: 6%;
    font-family: Radio Canada Big;
}

.about-para{
    font-family: Rubik;
    font-size: 150%;
    font-weight: 20%;
}

.aboutSite{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 173%;
line-height: 24px;
padding: 0 140px;
text-align: center;
color: #000000;
}

/* this is contact us footer area start */
.main-footer{
background-color: black;
/* height: 70rem; */
/* justify-content: center; */
}

.footerh1{
font-size: 18px;
line-height: 23px;
letter-spacing: .01em;

}


.footer-container h1{
text-align: center;
padding-top: 10px;
color: #E7F3EC;

}

.footer-container p{
margin-top: 20px;
text-align: center;
color: #E7F3EC;

}

.footer-container form{
text-align: center;}



.form-box input{
font-size: 18px;
color: #000;
padding: 15px 20px;
border: none;
outline: none;
background: white;
border: 2px solid #ceb38e;
}

.form-box button{
padding: 15px 20px;
font-size: 18px;
border:none;
color:#000;
background-color: #ceb38e;
cursor: pointer;
transition: .3s;
}


.footer-div {
max-width: 1170px;
margin-top: 30px;
display: flex;
justify-content: center;
}

.footer-div a {
text-decoration: none;
}

/* .row {
display: flex;
justify-content: space-between;
} */

.footer-col {
width: 23%;
/* justify-content: center; */
}

.footer-col h4 {
color: #E7F3EC;
margin-top: 20px;

}

.listMargin1 {
margin-left: 19%;
display: flex;
flex-direction: column;
align-items: start;
padding-left: 0;
}

.listMargin2 {
margin-left: 37%;
display: flex;
flex-direction: column;
align-items: start;
padding-left: 0;
}

.listMargin3 {
margin-left: 29%;
display: flex;
flex-direction: column;
align-items: start;
padding-left: 0;
}

.listMargin4 {
margin-left: 39%;
display: flex;
flex-direction: column;
align-items: start;
padding-left: 0;

}

.listMargin li {
margin-top: 10px;
text-decoration: none;
font-size: 15px;
}

.footer-col h4 {
margin-left: 0;
}


.footer-contact-details {
/* display: flex; */
margin-top: 5px;
}


.footer-aside
{
border-top: 2px solid #fff;
margin-left:200px;
margin-right:200px;
margin-bottom:20px;
margin-top: 6px;
display: flex ;
justify-content: center;
gap: 25%;
text-decoration: none;
}

.footer-aside h2{
font-size: 14px;
font-family: Open Sans, sans-serif;
color: #fff;
letter-spacing: 2px;
line-height: 19px;
}
.footer-aside p{
font-size: 14px;
font-family: Open Sans, sans-serif;
color: #fff;
letter-spacing: 2px;
line-height: 19px;
}

.fotter-aside2{
margin-top: 5%;
/* text-decoration: none; */


}


.footer-icon{
display: flex;
margin-right: auto;
max-width: 220px;
width:100%;
text-align: revert;
justify-content: end ;
color: palegoldenrod;
/* text-decoration: none; */

}

