*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: black
}

section{
    /* color: white; */
    /* display: grid; */
    min-height: auto;
}

.progress-Bar{
    position: fixed;
    width: 100%;
    height: 1vh; 

}

.filled{
    width: 0%;
    height: 100%;
    background-image: linear-gradient(to right , red , orange);
}



