body{
    margin: 0;
    padding: 0;
    
}

.Return-Policy-Main-div{
    border: 2px solid #faecec;
    margin-left: 10%;
    margin-right: 10%;

}

.Heading-return-policy h1{
    text-align: center;
    background-color: #ffffff;
    border-bottom-left-radius: 1px solid #faecec ;
    padding: 1%;
    margin-top: 2%;
    font-size: 50px;
    font-family:Josefin Sans;
    margin-bottom: 6%;
    
}
.about-return-policy{
    font-family:Roboto Mono ;
    
}

.ReturnPolicyPara{
    margin-top: 3%;
    margin-bottom: 3%;
}


.Return-policy-note{
    margin-left: 5%;
}



.main-footer{
    background-color: black;
    /* height: 70rem; */
    /* justify-content: center; */
    }
    
    .footerh1{
    font-size: 18px;
    line-height: 23px;
    letter-spacing: .01em;
    
    }
    
    
    .footer-container h1{
    text-align: center;
    padding-top: 10px;
    color: #E7F3EC;
    
    }
    
    .footer-container p{
    margin-top: 20px;
    text-align: center;
    color: #E7F3EC;
    
    }
    
    .footer-container form{
    text-align: center;}
    
    
    
    .form-box input{
    font-size: 18px;
    color: #000;
    padding: 15px 20px;
    border: none;
    outline: none;
    background: white;
    border: 2px solid #ceb38e;
    }
    
    .form-box button{
    padding: 15px 20px;
    font-size: 18px;
    border:none;
    color:#000;
    background-color: #ceb38e;
    cursor: pointer;
    transition: .3s;
    }
    
    
    .footer-div {
    max-width: 1170px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    }
    
    .footer-div a {
    text-decoration: none;
    }
    
    /* .row {
    display: flex;
    justify-content: space-between;
    } */
    
    .footer-col {
    width: 23%;
    /* justify-content: center; */
    }
    
    .footer-col h4 {
    color: #E7F3EC;
    margin-top: 20px;
    
    }
    
    .listMargin1 {
    margin-left: 19%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 0;
    }
    
    .listMargin2 {
    margin-left: 37%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 0;
    }
    
    .listMargin3 {
    margin-left: 29%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 0;
    }
    
    .listMargin4 {
    margin-left: 39%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 0;
    
    }
    
    .listMargin li {
    margin-top: 10px;
    text-decoration: none;
    font-size: 15px;
    }
    
    .footer-col h4 {
    margin-left: 0;
    }
    
    
    .footer-contact-details {
    /* display: flex; */
    margin-top: 5px;
    }
    
    
    .footer-aside
    {
    border-top: 2px solid #fff;
    margin-left:200px;
    margin-right:200px;
    margin-bottom:20px;
    margin-top: 6px;
    display: flex ;
    justify-content: center;
    gap: 25%;
    text-decoration: none;
    }
    
    .footer-aside h2{
    font-size: 14px;
    font-family: Open Sans, sans-serif;
    color: #fff;
    letter-spacing: 2px;
    line-height: 19px;
    }
    .footer-aside p{
    font-size: 14px;
    font-family: Open Sans, sans-serif;
    color: #fff;
    letter-spacing: 2px;
    line-height: 19px;
    }
    
    .fotter-aside2{
    margin-top: 5%;
    /* text-decoration: none; */
    
    
    }
    
    
    .footer-icon{
    display: flex;
    margin-right: auto;
    max-width: 220px;
    width:100%;
    text-align: revert;
    justify-content: end ;
    color: palegoldenrod;
    /* text-decoration: none; */
    
    }
    
    