.coolinput {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: static;
    max-width: 240px;
  }
  
  .coolinput label.text {
    font-size: 0.75rem;
    color: #818CF8;
    font-weight: 700;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: #e8e8e8;
    width: fit-content;
  }
  
  .coolinput input[type=text].input {
    padding: 19px 15px;
    font-size: 0.75rem;
    border: 2px #111 solid;
    
    border-radius: 5px;
    background: #e8e8e8;
    width: 232%;
  }
  
  .coolinput input[type=text].input:focus {
    outline: none;
  }
  







  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* background: url('your-image.webp') no-repeat center center fixed; */
    /* background-size: cover; */
    height: 100vh;}
/* .Track-navbar{
    text-align: center;
    padding: 10px;
    border: 1px solid whitesmoke;
    } */

.container {
    width: 100%;
    max-width: 100%;
    display: flex;
    height: 100%;
    background: linear-gradient(135deg, #0000ff 0%, #ffffff 100%);
}
.left-side {
    /* flex: ; */
    margin-left: 0%;
    margin-top: 0%;
    width: 100%;
}

.left-side img{
    width: 100%;
    height: 100%;
}
.right-side {
    /* flex: ; */
    /* padding: 20px; */
    
    border-radius: 8px;
    margin-left: 8%;
    margin-top: 3%;
    width: 100%;
   
}

.Trackorder{
    width: 50%;
}

.emailInput{

}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
.form-group input[type="text"],
.form-group input[type="email"] {
    /* width: 100%; */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.inputbuttom{
    font-size: small;
    font-family: Nunito ;
    margin-top: -2%;
    
}

button {
    --primary-color: #645bff;
    --secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 0px;
    color: var(--secondary-color);
    padding: 1.5em 13.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
    margin-top: 10%;
    
  }
  
  button .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  button .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
    
  }
  
  button .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
  }
  
  button:hover {
    background-color: var(--hover-color);
    
  }
  
  button:hover .arrow {
    background: var(--secondary-color);
  }
  
  button:hover .arrow:before {
    right: 0;
  }

  .ReturnAboutSection{
    margin-top: 4%;
    font-family: Inconsolata
    ;

  }


  .TermsCondition{
    /* text-align: center; */
    margin-top: 10%;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 8%;
  }

  .NeedHelp{
    margin-left: 30%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 80%;
    
    
  }

  .Poweredby{
    text-align: right;
    font-family: Inconsolata;
    margin-top: 17%;
  }